<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vuerlyServer.vuerly.product.repository.SampleDAO">

    <select id="selectSampleDAO" resultType="vuerlyServer.vuerly.product.model.SampleDTO">
        select id
                , name
                , sex
                , location_id
                , birthday
        from student
    </select>

</mapper>